@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900';
/****Loader Animation*****/

.loader{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: rgba(255,255,255,1);
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 300px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #2baf2b;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
/****Loader Animation Ends*****/
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body{
    font-family: 'Raleway', sans-serif!important;
    font-size: 16px;
    line-height: 18px;
    color: #333;
}
.header{
    height: 85px;
    webkit-box-shadow: 0 6px 6px -6px #999;
       -moz-box-shadow: 0 6px 6px -6px #999;
            box-shadow: 0 6px 6px -6px #999;
            background: #fff;
}

.wrapper{
    margin-top: 0px;
}
.logo{
  float: left;
}
.header .logo .navbar-brand{
    padding: 10px 15px;
    height: auto;
}
.header .logo .navbar-brand span{
    display: inline-block;
    vertical-align: middle;
    font-weight:500;
    color: #2baf2b;
    padding-left: 10px;
    font-size: 20px;
}
.header .logo .navbar-brand img{
       display: inline-block;
}

.header .main-nav{
    margin-top: 27px;
    float: left;
    margin-left: 120px!important;
}
.header .main-nav li a {
    padding: 17px 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #2baf2b;
    font-weight: 400;
    transition: all 0.3s ease;
    border-bottom: solid transparent 2px;
    margin-right: 1px;
}
.header .main-nav li.active a{
    background: transparent;
     color: #669641;
      border-bottom: solid  #669641 3px;
}
.header .main-nav li a:hover,.header .main-nav li a:focus{
    background: transparent;
     color: #669641;
      border-bottom: solid  #669641 3px;
}
.flexslider {
  margin: 0!important;
    border: 0px solid transparent!important;
   
}
.slider-1{
    background: url(../images/slider1.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;

}
.slider-2{
    background: url(../images/slider2.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;

}
.slider-3{
    background: url(../images/slider3.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;

}
.slider-text{
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
}
.slider-text h3{
    font-size: 38px;
    color: #fff;
   text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.slider-text h6{
    font-size: 26px;
    color: #f4f4f4;
}
.slider-text h6 span{
     color: #fff;
}
.custom-navigation{
    position: absolute;
    top: 50%;
    width: 100%;
   
}
.custom-navigation .flex-next{
    float: right;
    margin-right: 10px;
}
.custom-navigation .flex-prev{
    float: left;
    margin-left: 10px;
}
.custom-navigation a {
     width: 53px;
    height: 53px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 46px;

}
.custom-navigation a:hover{
    opacity:1;
    border-color: #2baf2b;
    background-color: #2baf2b;
    border-radius: 50%;
}

.btn-view-property {
    padding: 8px 25px!important;
    background-color: #2baf2b;
    border-radius: 2px!important;
    margin: 15px 0 0;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.5s ease;
    text-transform: uppercase;
}
.btn-view-property:hover {
    transition: all 0.5s ease;
    color: #f5f5f5;
    background-color: #79b34d;
}

/* Direction Nav */


.inner-page{
  margin-top: 85px;
}
.inner-page-banner img{
  background-size: cover;
  width: 100%;
}

.about{
    padding-bottom: 30px;
}

.about-wraper .elems{
    float: left;
    width: 50%;
}
.left-content{
    background: #f5f5f5;
    padding: 50px 50px;
     min-height: 560px;
}
.right-content{
    background: url(../images/inner-banner.jpg) no-repeat center center;
        min-height: 560px;
}
.progress-bar-ayur{
     background-color: #669641!important;
}
.left-content h6{
    font-size: 18px;
    font-weight: 500;
}
.left-content .progress{
    height: 15px;
    background-color: #fff;
    border-radius: 0;
}
.about-details h2{
    text-transform: capitalize;
}
.about-details p{
    line-height: 25px;
}


.services{
    padding: 30px 0 ;
}

.services-content {
    padding: 25px 0 0;
}
.services-content .thumbnail{
  min-height: 175px;
  cursor: pointer;
  -webkit-transition: all 1s ease;                  
    -moz-transition: all 1s ease;                 
    -o-transition: all 1s ease;   
    -ms-transition: all 1s ease;          
    transition: all 1s ease;
}

.services-content .thumbnail .thumbnail-icon{
  text-align: center;
  padding: 15px 0
}
.services-content .thumbnail .thumbnail-icon i {
    color: #2baf2b;
    font-size: 60px;

}
.caption h3
{
  text-align: center;
  font-size: 20px;
    color: #2baf2b;
    margin-top: 0;
}

.services-content .thumbnail:hover {
  background : #2baf2b;
}
.services-content .thumbnail:hover .thumbnail-icon i {
  color: #fff;
}
.services-content .thumbnail:hover h3 {
  color: #fff;

}

/*--contact start here--*/
.contact {
    background: url(../images/contact-us.jpg)no-repeat;
    background-size: cover;
        padding: 30px 0;
}
.contact-top h3{
     font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5em;
    color: #fff;
    font-weight: 500;
}
.contact-bottom input[type="text"], .contact-bottom input[type="email"]{
    display: inline-block;
    background: none;
    border: 1px solid #A3A1A1;
    width: 100%;
    outline: none;
    font-size: 0.95em;
    color: #747577;
    font-weight: 400;
    border-radius: 2px;
    padding: 10px 15px;
    margin:1em 0em;
    font-family: 'Play', sans-serif;
}
.contact-bottom textarea {
    background: none;
    border: 1px solid #A3A1A1;
    width: 100%;
    display: block;
    height: 14em;
    outline: none;
    font-size: 0.95em;
    color: #A3A1A1;
    font-weight: 400;
    resize: none;
    border-radius: 3px;
    padding: 10px 15px 10px 15px;
    margin: 1em 0em;
    font-family: 'Play', sans-serif;
}
.contact-bottom input[type="submit"] {
    font-size: 1.1em;
    color: #FFFFFF;
    padding: 0.8em 1em 0.8em 1em;
    display: block;
    border: none;
    margin: 3em auto 0em;
    outline: none;
    background: #2baf2b;
    width: 27%;
    text-transform:uppercase;
    letter-spacing:1px;
    font-family: 'Play', sans-serif;
}
.contact-bottom input[type="submit"]:hover {
    background: #1e7b1e;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.map iframe {
    width: 100%;
    height:350px;
    border: none;
}
::-webkit-input-placeholder{
   color:#A3A1A1 !important;
}
.card-wrapper{
  margin: 30px 0;
}
.card-wrapper .thumbnail {
  position: relative;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 2px 0px;
  margin: 0px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: solid rgba(62, 67, 98, 0.109804) 1px;
  padding: 0;
  transition: all 0.1s ease;
  height: 295px;
}
.card-wrapper .thumbnail:hover{
  box-shadow:0px 0px 4px 1px #ccc;
}


.card-wrapper .thumbnail .thumb-image {
  width: 100%;
  position: relative;
}
.heading{
  text-align: center;
}




.card-wrapper .thumbnail .caption {
  background: #fff;
}

.card-wrapper .thumbnail .caption h3 {
  margin: 0 0 10px 0;
  font-size: 14px;
  text-decoration: none;
  color: rgba(75, 76, 92, 0.88);
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: left;
}

.card-wrapper .thumbnail .caption h6 {
  color: rgba(75, 76, 92, 0.66);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 14px;
  margin: 0 0 10px 0;
}

.card-wrapper .thumbnail .caption p {
  margin-bottom: 0px;
  font-size: 14px;
}

.card-wrapper .thumbnail .caption .extra-info .auther-name {
  display: inline-block;
  width: 70%;
}

.card-wrapper .thumbnail .caption .extra-info .views {
  width: 28%;
  display: inline-block;
  text-align: right;
}

.card-wrapper .thumbnail .caption .extra-info .views a {
  color: #666;
  text-decoration: none;
  font-size: 12px;
}

.card-wrapper .thumbnail .caption .extra-info .views a i {
  padding-right: 3px;
}

.card-wrapper .thumbnail .actions-info {
  margin-bottom: 20px;
}

.card-wrapper .thumbnail .actions-info .save {
 
  text-align: center;
  text-transform: uppercase;
  
  
}

.card-wrapper .thumbnail .actions-info .save a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #2baf2b;
   width: 50%;
   padding: 8px 0;
  font-size: 14px;
  display: inline-block;
  transition: all 0.5s ease;
}

.card-wrapper .thumbnail .actions-info .save a i{
  padding-right: 3px;
   color: #fff;
}

.card-wrapper .thumbnail .actions-info .save a:hover {
      background: #1e7b1e;
}

.card-wrapper .thumbnail .actions-info .share {
  border-left: solid #d5d5d5 1px;
}

/*--footer start here--*/
.footer{
    padding: 30px 0;
}
.footer-top h3{
     font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5em;
    color: #000;
    font-weight: 500;
}

.ftr-grid h4 {
    font-size: 1.7em;
    color: #2baf2b;
    margin-bottom: 0.4em;
    font-family: 'Play', sans-serif;
}
.ftr-grid p {
    font-size: 1em;
    color: #000;
    line-height: 1.8em;
    font-family: 'Play', sans-serif;
}
.ftr-grid p a{
     color: #000;
     font-family: 'Play', sans-serif;
}
.ftr-grid p a:hover{
    color:#F79502;
}
span.ftr-address-icons {
    float: left;
    width: 20%;
}
.ftr-text {
    float: right;
    width: 80%;
}
/*--footer end here--*/
.footer-agile {
    background: #000;
    padding:3em 0em;
}
.footer-main2 h4 {
    font-size: 1.5em;
    text-transform: capitalize;
    color: #2baf2b;
    font-family: 'Play', sans-serif;
}
.footer-main2 p {
    font-size: 1em;
    line-height: 1.9em;
    letter-spacing: 1px;
    color: #777;
    margin-bottom: 2em;
}
.footer-main2 ul li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}
.footer-main2 ul li a {
    color: #fff;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-family: 'Play', sans-serif;
}
.footer-main1 h2{
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Play', sans-serif;
}
.copyright-agile {
    text-align: center;
    padding: 40px 0px 0px;
}
.copyright-agile  p {
    color: white;
    letter-spacing: 1px;
    font-size: 1em;
    letter-spacing:3px;
}
.copyright-agile p a {
    color: #fff !important;
    font-family: 'Play', sans-serif;
    text-decoration: none !important;
}
.copyright-agile p a:hover {
    color:#fff !important;
    font-family: 'Play', sans-serif;
}
/*-- //footer--*/
/*--//contact end here--*/